@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

@font-face {
    font-family: norse-bold;
    src: url('resources/Norse-Bold.otf');
}

html{
    border-collapse: collapse;
}

* {
    font-family: 'Poppins', sans-serif;
    color: rgb(36, 80, 36);
}

body{
    display: flex;
    flex-direction: row;
    height: clamp(50rem, 100vh,100vh) ;
    background-color: rgb(213, 230, 220);
    margin: 0;
    min-width: 75rem;
    
}
#leftSide{
    display: flex;
    min-width: clamp(19rem,40%, 62.5rem);
    height:100%;
    background-size:cover;
    background-image: url('resources/stormseeker-Ws92xzbSris-unsplash.jpg');
} 

#rightSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    font-size: 1rem;
}

#logoWrapper{
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 10rem;
    padding: 1rem;
}

#logo{
    height: 100%;
    background-blend-mode:color;
    display: flex;
    height: 10rem;
    margin-right: 1.2rem; 
}

#brandName{
    display: flex;
    font-size: 8rem;
    font-family: norse-bold;
    color:white;
}


fieldset{
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
    padding: 1.2rem;
    border: solid 2px rgb(29, 88, 54);
    width: 40rem;
}

#formGridContainer{
    display: grid;
    grid-template-columns: 20rem 20rem  ;
    grid-template-rows: auto auto auto ;
}

fieldset > div{
    display: flex;
    flex-direction: row;
    width: 20rem;
}

label{
    font-size: .9rem;
}

input{
    width: 15rem;
    height: 2rem;
    margin-bottom: 2.2rem;
    margin-top: 3px;
    
}

legend{
    font-size: 2rem;
    font-weight: bold;
}

button{
    width: 20rem;
    height: 3rem;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(184, 219, 184);
    border-radius: 5px;
    border: solid 2px rgb(29, 88, 54)
}

button:hover{
    opacity: 80%;
}

#text1Div{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#text2Div{
    font-size: 1.5rem;
}

#logInText{
    font-weight: bold;
}
